.post_container {
	background-color: #ffffff;
	max-width: 450px;
	padding: 20px 26px;
	border-radius: 12px;
}

.post_content {
	display: flex;
	flex-direction: column;
	max-width: 200px;
	margin: 0 auto;
}

.post_title {
}
